@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --color__background:#FFF0EA;
  --line__buttom:#D9E3D0;
  --color_font_btn:#8CA676;
  --color-icon:#B1C3A2;
  --color__font_primary:#8A8484;
  --color__font_sencondary:#F6A29C;
  --family__font_primary:'Higuen', sans-serif;
  --family__font_secondary:'Montserrat', sans-serif;
  --font-light:#ffffff;
  --font-size-12:.75rem;
  --font-size-16:1rem;
  --font-size-18:1.125rem;
  --font-size-24:1.5rem;
  --font-size-28:1.75rem;
  --font-size-32:2rem;
  --font-size-36:2.25rem;
  --font-size-42:2.625rem;
  --font-size-64:4rem;
  --font-size-76:4.75rem;

}
@font-face {
  font-family: 'Higuen';
  src: url('./font/Higuen-Regular.ttf') format('opentype');
  font-weight: normal;
}
*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}
body{
  width:100%;
  height: 100vh;
  
}


/*Estilo del scrollbar*/
::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--color__font_primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color_font_btn);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color__background);
}

